@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
ul{
    list-style: none;
}

#subCuerpoR{
    width:35%;
    height:55%;
    left:30%;
    top: 10%;
    position:relative;
    border: grey;
    border-style:solid;
    border-width: 2px;
    background-color: white;
    /*font style*/
    font-family: 'PT Sans', sans-serif;
    /*shadow*/
    box-shadow: 10px 10px 7px 0 #969696;
}

#subCuerpo{
    width:70%;
    height:50%;
    left:14%;
    top: 10%;
    position:relative;
    border: grey;
    border-style:solid;
    border-width: 2px;
    background-color: white;
    /*font style*/
    font-family: 'PT Sans', sans-serif;
    /*shadow*/
    box-shadow: 10px 10px 7px 0 #969696;
}

#titulo{
    margin:0px;
    padding:0px;
    width: 100%;
    height:15%;
    position: relative;
    background: #dfdfdf;
}

h3{
    height:100%;
    position:relative;
    top: 25%;
    left: 3%;
    color: #1a52a1;

}

#contenido{
    font-family: inherit;
    position: relative;
    height: 100%;
    top: 5%;
    left: 3%;
}

#contenido form ul li {
    margin: 10px;
}


.boton{
    position:relative;
    margin-top: 23px;
    -webkit-transition: max-height 0.35s ease-out;
}