

header{
	position:relative;
	height:100%;
	width: 100%;
	border-bottom:medium double #002D8E;
}

img#logotipo{
	position:relative;
	top: 2.5%;
	left: 2.5%;
	max-height:85%;
}

div#cabecera{
	height: 12%;
	width: 100%;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	background-color:white;
}