@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import "header.css";

* {
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
        font-family: 'PT Sans', sans-serif;
}

html,body{
	margin:0px;
	height:100%;
	width: 100%;
}

a:visited{
    color:blue;
}

form, input, a{
	margin: 4px;
}

div#general{
	height: 100%;
	width: 100%;
}

div#cuerpo{
	height: 88%;
	width: 100%;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
        
        /*Dos columnas*/
	display:flex;	
	align-items:flex-start;
	
	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #AFAFAF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#AFAFAF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#AFAFAF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#AFAFAF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#AFAFAF 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfcfc 0%,#AFAFAF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#AFAFAF',GradientType=0 ); /* IE6-9 */
}

div#box{
	height:100%;
	position: relative;
	width: 60%
}

img#imgBox{
	height:55%;
	position: relative;
	top:15%;
	left:5%;
}

div#formLogin{
    position: relative;
	width: 30%;
    top: 20%;
	background-color: rgba(1, 1, 1, 0.025);
	box-shadow: 10px 10px 7px 0 #969696;	
}

#inputLogin{
	position: relative;
	width: 60%;
	height:25px;
}

#formDiv{
	height:100%;
        width: 70%;
	position:relative;
        left: 3%;
	margin: 5px 5px 10px 5px;
}

.submitButton {
	-moz-box-shadow:inset 0px 0px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 0px 0px 0px #97c4fe;
	box-shadow:inset 0px 0px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family: 'PT Sans', sans-serif;
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	height:31px;
	line-height:31px;
	width:120px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #1570cd;
}

.submitButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}

.submitButton:active {
	position:relative;
	top:1px;
}

.ribbon {width:93%;padding-left:50px}
.theribbon{font-family:Lobster;position: relative;width: 100%;font-size: 1.6em;padding: 6px 10px 6px 40px;margin: 0px 0px 10px -71px;color: #1a52a1;background-color: #ffffff;text-shadow: 0px 1px 2px #bbb;-webkit-box-shadow: 0px 2px 4px #888;-moz-box-shadow: 0px 2px 4px #888;box-shadow: 0px 2px 4px #888;}
.theribbon:after {content: ' ';position: absolute;width: 0;height: 0;}
.theribbon:after{left: 0px;top: 100%;border-width: 5px 10px;border-style: solid;border-color: #666666 #666666 transparent transparent;}
