@import "navi.css";
@import "header.css";

* {
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
}

html,body{
    margin:0px;
    height:100%;
    width: 100%;
}

a:visited{
    color: blue;
}

form, input, a{
    margin: 4px;
}


div#general{
    height: 100%;
    width: 100%;
}

div#cuerpo{
    height: 88%;
    width: 100%;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;

    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #AFAFAF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#AFAFAF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#AFAFAF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfcfc 0%,#AFAFAF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#AFAFAF 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfcfc 0%,#AFAFAF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#AFAFAF',GradientType=0 ); /* IE6-9 */
}

#subCuerpo{
    height:90%;
    width: 80%;
    top: 2%;
    left: 10%;
    position: relative;
}
