@import "navi.css";
@import "header.css";
@import "logued.css";

#listaOpciones ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

#listaOpciones ul li:hover {
    background: #1a52a1;
}

#contenidoSubCuerpo{
    height: 85%;
    width: 85%;
    position: relative;
    top:3%;
    border: grey;
    border-style:solid;
    border-width: 2px;

    /*Dos columnas*/
    display:flex;	
    align-items:flex-start;

    /*font style*/
    font-family: 'PT Sans', sans-serif;

    /*shadow*/
    box-shadow: 10px 10px 7px 0 #969696;	
}

#opciones{
    height: 100%;
    width: 20%;
    position: relative;
    font-weight: bold;
}

#tituloOpciones{
    height: 10%;
    width: 100%;
    position: relative;
    background: whitesmoke;
    text-align: center;
}

#tituloOpciones span{
    top: 15%;
    position: relative;
    color: #1a52a1;
    font-size: 18px;
}

#listaOpciones{
    height: 90%;
    width: 100%;
    position: relative;
    background: white;
}

#listaOpciones form{
    padding: 0px;
    margin: 0px;
}

#listaOpciones a{
    text-decoration: none;
    font-size: 100%;
    position: relative;

    color: #1a52a1;
    display: block;
    width: 88%;
    position: relative;
    margin: 0px;
    padding: 5% 5% 5% 7%;
}

#listaOpciones a:hover{
    color: #ffffff;
    margin: 0px;
    background: #1a52a1;
}

#contenidoOpcion{
    height: 100%;
    width: 80%;
    position: relative;
    background: whitesmoke;
}

#contenidoOpcion #tabla{
    height: 100%;
    width: 98%;
    position: relative;
    left: 1%;
}