<%-- any content can be specified here e.g.: --%>
<%@page import="Utils.Util"%>
<%@ page pageEncoding="UTF-8" %>
<% HttpSession sesionA = request.getSession(false); %>
<div id='cssmenu'>
    <ul>
        <li><a href='/PrimeraVersion/login.jsp'><span>Inicio</span></a></li>
        <li><a href='#'><span>About</span></a></li>
        <li><a href='#'><span>Soporte</span></a></li>
        <li class='has-sub last'><a href='#'><span><%=sesionA.getAttribute("User")%></span></a>
            <ul>
                <li><a href='/PrimeraVersion/opciones.jsp'><span>Configurar cuenta</span></a></li>
                <%
                Util util = new Util();
                if (util.isAdmin((String) sesionA.getAttribute("User"))){
                %>
                <li><a href='/PrimeraVersion/cpanel.jsp'><span>Panel administrador</span></a></li>
                <%}%>
                <li class='last'><a href='/PrimeraVersion/Logout'><span>Cerrar sesión</span></a></li>
            </ul>
        </li>
    </ul>
</div>
